@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cursiveFont";
  src: url("/fonts/liana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
